// Fonts
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  background-color: #fafafa;
  font-size: 16px;
}

h1,h2,h3,h4,h5 {
  font-family: 'Crimson Text', serif;
}
p, a, li {
  font-family: 'Inconsolata', sans-serif;
}
p, a {
  font-size: 1.15rem;
}

a{
  color: #ff5f67;
}

p.label {
  font-size: 0.8rem;
}

nav.navbar {
  background-color: #fff;
  box-shadow: 0 0 3px #0000004d;
}

.navbar-brand {
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: normal;
  padding-top:12px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.fadeDelay-enter-active, .fadeIn-leave-active {
  transition: opacity .5s;
  transition-delay: 0.1s;
}
.fadeDelay-enter, .fadeIn-leave-to /* .fadeIn-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.bg-info {
  background-color: #ffd682 !important;
}

.recipe-card{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  margin-top:1px;
  margin-bottom: 1px;
  cursor: pointer;
  position: relative;
  @media #{$mobile-xs} {
    height:150px;
  }
}

.recipe-card:hover .recipe-card-cover {
  opacity: 0.4
}

.recipe-card-content-title {
  color: #222222;
  font-size: 1.3rem;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0;
  letter-spacing: 3px;
  font-family: 'Inconsolata', sans-serif;
}
.recipe-card-content-wrapper {
  display:inline-block;
  padding:3px;
  border: solid 2px #ffffffcc;
}
.recipe-card-inner-wrapper {
  display:inline-block;
  padding: 8px 18px;
  background-color: #ffffffcc;
}
.recipe-card-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.recipe-comp-img-back {
  position: absolute;
  top:20px;
  left: 27px;
}
#recipeArrowBack {
  filter: drop-shadow(0 0 2px #00000044)
}

.top-img-full{
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 64vh;
}
@media screen and (min-width: 576px) {
  .top-img-full {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

.recipe-comp p{
  margin-bottom: 0;
}

li.nav-item a {
  font-size: 1rem;
}

.app-wrapper {
  padding-bottom: 50px;
}
.lds-ring {
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid $primary;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $primary transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.icon-text a div {
  padding-top: 2px;
  line-height: 1;
  font-size:1.5rem;
  font-family: 'Crimson Text', serif;
  font-weight: 700;
}
#navbarBottom {
  li {
    margin: 0 10px;
  }
  li.nav-item a {
    div, svg, span {
      color: lighten($primary, 20%);
      fill: lighten($primary,20%);
    }
    &.router-link-exact-active {
      div, svg, span {
        color: darken($primary, 15%);
        fill: darken($primary, 15%);
      }
    }
  }
}

.mc-banner {
  bottom:0 !important;
  top: auto !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

